Repository nervosnetwork/ckb, pull requests merged in 2023-12, with the labels that each got.

#4255 fix: no chain_root in 1st block of the mmr activated epoch
  util/types/src/utilities/merkle_mountain_range.rs
Labels: m:light-client

#4170 Use jsonrpc-utils to replace jsonrpc
  Cargo.lock
  ckb-bin/src/subcommand/run.rs
  rpc/Cargo.toml
  rpc/README.md
  rpc/src/lib.rs
  rpc/src/module/alert.rs
  rpc/src/module/chain.rs
  rpc/src/module/debug.rs
  rpc/src/module/experiment.rs
  rpc/src/module/indexer.rs
  rpc/src/module/miner.rs
  rpc/src/module/mod.rs
  rpc/src/module/net.rs
  rpc/src/module/pool.rs
  rpc/src/module/stats.rs
  rpc/src/module/subscription.rs
  rpc/src/module/test.rs
  rpc/src/server.rs
  rpc/src/service_builder.rs
  rpc/src/tests/examples.rs
  rpc/src/tests/mod.rs
  rpc/src/tests/module/test.rs
  rpc/src/tests/setup.rs
  shared/src/shared_builder.rs
  util/indexer/src/service.rs
  util/launcher/Cargo.toml
  util/launcher/src/lib.rs
  util/network-alert/src/tests/test_notifier.rs
  util/runtime/src/lib.rs
Labels: t:enhancement, b:rpc

#4270 fix: resolve empty filter related message bug
  sync/src/filter/get_block_filter_check_points_process.rs
  sync/src/filter/get_block_filter_hashes_process.rs
  sync/src/filter/get_block_filters_process.rs
  sync/src/types/mod.rs
Labels: m:sync

#4266 Upgrade `ckb-cli` to `v1.6.0`
  .github/workflows/package.yaml
Labels: dependencies

#4179 Upgrade OpenSSL from `1.1.1` to `3.1.3`
  .github/workflows/package.yaml
  devtools/ci/ci_main.sh
  docker/hub/Dockerfile
Labels: dependencies, t:ci

#4273 Change `score_sortkey`'s type from `String` to `struct AncestorsScoreSortKey`
  rpc/README.md
  rpc/src/module/pool.rs
  tx-pool/src/component/sort_key.rs
  tx-pool/src/pool.rs
  util/jsonrpc-types/src/lib.rs
  util/jsonrpc-types/src/pool.rs
  util/types/src/core/tx_pool.rs
Labels: b:rpc

#4226 Add migration run in background mode
  Cargo.lock
  ckb-bin/src/subcommand/export.rs
  ckb-bin/src/subcommand/import.rs
  ckb-bin/src/subcommand/migrate.rs
  ckb-bin/src/subcommand/replay.rs
  ckb-bin/src/subcommand/stats.rs
  db-migration/Cargo.toml
  db-migration/src/lib.rs
  db-migration/src/tests.rs
  shared/src/shared_builder.rs
  util/launcher/src/lib.rs
  util/migrate/src/migrate.rs
  util/migrate/src/migrations/mod.rs
  util/migrate/src/migrations/set_2019_block_cycle_zero.rs
  util/migrate/src/tests.rs
  util/stop-handler/src/stop_register.rs
Labels: t:enhancement

#4245 Support easy run daemon mode for Linux/MacOS
  Cargo.lock
  ckb-bin/Cargo.toml
  ckb-bin/src/helper.rs
  ckb-bin/src/lib.rs
  ckb-bin/src/subcommand/daemon.rs
  ckb-bin/src/subcommand/mod.rs
  ckb-bin/src/subcommand/run.rs
  devtools/init/README.md
  util/app-config/src/args.rs
  util/app-config/src/cli.rs
  util/app-config/src/lib.rs
Labels: t:enhancement, b:cli

#4276 chore: Move txpool statistics from callbacks to PoolMap
  chain/src/tests/block_assembler.rs
  shared/src/shared_builder.rs
  tx-pool/src/callback.rs
  tx-pool/src/component/pool_map.rs
  tx-pool/src/pool.rs
  tx-pool/src/process.rs
  tx-pool/src/service.rs
Labels: t:enhancement, m:tx-pool

#4277 Ensure that `block_assembler`'s `Snapshot.tip_number` reaches `shared.snapshot().tip_number` before `tx_pool.plug_entry`
  chain/src/tests/block_assembler.rs
Labels: t:test, t:ci

#4282 chore: Expose ckb-vm Error type directly in ScriptError
  script/src/error.rs
  script/src/types.rs
  script/src/verify.rs
  script/src/verify/tests/ckb_latest/features_since_v2019.rs
  script/src/verify/tests/ckb_latest/features_since_v2021.rs
  tx-pool/src/chunk_process.rs
Labels: m:vm

#4285 fix(indexer): The end in `script_len_range` parameter of `IndexerSearchKeyFilter` is not inclusive
  util/indexer/src/service.rs
Labels: breaking change, m:indexer
