Repository nervosnetwork/ckb, pull requests merged in 2024-03, with the labels that each got.

#4339 Add conflicts cache for tx_pool to record conflicted transactions
  rpc/README.md
  rpc/src/module/pool.rs
  sync/src/relayer/mod.rs
  test/src/main.rs
  test/src/specs/tx_pool/replace.rs
  test/src/util/transaction.rs
  tx-pool/src/component/pool_map.rs
  tx-pool/src/pool.rs
  tx-pool/src/process.rs
  tx-pool/src/service.rs
  util/jsonrpc-types/src/pool.rs
  util/types/src/core/tx_pool.rs
Labels: t:enhancement, m:tx-pool

#4254 [BREAKING CHANGE] Hardcoding a Default `assume_valid_target` to Reduce the Timecost of Block Synchronization in IBD mode
  Cargo.lock
  Makefile
  devtools/release/update_default_valid_target.sh
  sync/src/synchronizer/mod.rs
  sync/src/types/mod.rs
  util/app-config/Cargo.toml
  util/app-config/src/cli.rs
  util/app-config/src/lib.rs
  util/constant/src/default_assume_valid_target.rs
  util/constant/src/lib.rs
  util/launcher/src/lib.rs
Labels: t:enhancement, m:sync

#4371 Allow the `PoolPersisted` integration test to run on Windows.
  test/src/main.rs
  test/src/node.rs
Labels: t:ci
