Repository nervosnetwork/ckb, pull requests merged in 2024-07, with the labels that each got.

#4486 Add `assume_valid_target_reached: bool` to `NetRpc::sync_state`
  ckb-bin/src/subcommand/run.rs
  rpc/README.md
  rpc/src/module/net.rs
  sync/src/types/mod.rs
  util/jsonrpc-types/src/net.rs
  util/launcher/src/lib.rs
Labels: b:rpc

#4511 Modify the record scope of tx-pool reject record and fix rule for orphan tx.
  shared/src/shared_builder.rs
  sync/src/relayer/mod.rs
  test/src/main.rs
  test/src/specs/tx_pool/orphan_tx.rs
  test/src/util/transaction.rs
  tx-pool/src/component/orphan.rs
  tx-pool/src/process.rs
  tx-pool/src/service.rs
  util/types/src/core/tx_pool.rs
  util/types/src/core/views.rs
Labels: m:tx-pool

#4531 Backport #4527 Early return process_fetch_cmd if ckb received exit signal
  sync/src/synchronizer/mod.rs
Labels: s:backport-needed
