Repository nervosnetwork/ckb, pull requests merged in 2024-08, with the labels that each got.

#4562 fix: fix sync relayer collaboration
  sync/src/relayer/mod.rs
  sync/src/relayer/tests/mod.rs
  sync/src/tests/sync_shared.rs
  sync/src/types/mod.rs
Labels: t:test, m:sync

#4563 Fix unit test and integration test for test_accept_block and SyncChurn
  deny.toml
  sync/src/relayer/tests/helper.rs
  test/src/node.rs
  test/src/rpc.rs
  test/src/specs/fault_injection/randomly_kill.rs
  test/src/specs/sync/sync_churn.rs
  test/src/specs/sync/sync_invalid.rs
Labels: t:test: Integration Test, t:ci

#4565 Integration Test: SyncInvalid should wait node1 ban node0
  test/src/specs/sync/sync_invalid.rs
Labels: t:test: Integration Test

#4566 Fix Unit Test and Integration Test on MacOS and Windows platform
  sync/src/tests/synchronizer/basic_sync.rs
  test/src/node.rs
  test/src/specs/sync/invalid_block.rs
Labels: t:ci

#4573 Integration Test: Increase wait timeout for LastCommonHeaderForPeerWithWorseChain
  test/src/node.rs
  test/src/specs/sync/last_common_header.rs
  test/src/specs/sync/sync_invalid.rs
Labels: t:test: Integration Test

#4584 Integration Test: decrease restart times and mined blocks count on windows and macos
  test/src/main.rs
  test/src/specs/sync/sync_churn.rs
Labels: t:ci

#4576 fix: add limit to get cells
  resource/ckb.toml
  util/app-config/src/configs/indexer.rs
  util/gen-types/src/lib.rs
  util/indexer/src/service.rs
  util/jsonrpc-types/src/blockchain.rs
  util/jsonrpc-types/src/bytes.rs
  util/rich-indexer/src/indexer/mod.rs
  util/rich-indexer/src/indexer_handle/async_indexer_handle/get_cells.rs
  util/rich-indexer/src/indexer_handle/async_indexer_handle/get_transactions.rs
  util/rich-indexer/src/indexer_handle/async_indexer_handle/mod.rs
  util/rich-indexer/src/indexer_handle/mod.rs
  util/rich-indexer/src/service.rs
  util/rich-indexer/src/tests/insert.rs
  util/rich-indexer/src/tests/query.rs
Labels: b:rpc

#4583 Add `tx_index` to `TxStatus` for `get_transaction` RPC
  rpc/README.md
  rpc/src/module/chain.rs
  util/jsonrpc-types/src/blockchain.rs
  util/types/src/core/tx_pool.rs
Labels: b:rpc

#4589 Integration Test: Add more log when node crash
  test/src/node.rs
  test/src/specs/tx_pool/send_large_cycles_tx.rs
Labels: log

#4591 `VerifyQueue`: re_notify other Worker when `OnlySmallCycleTx` received a large cycle tx
  tx-pool/src/component/verify_queue.rs
  tx-pool/src/verify_mgr.rs
Labels: t:test: Integration Test, m:tx-pool

#4594 Integration Test: wait find unverified blocks finish before insert invalid block
  test/src/specs/sync/block_sync.rs
Labels: t:test: Integration Test

#4611 chore(test): Fix the unstable spec ForksContainSameUncle caused by block hash collision
  test/src/node.rs
Labels: t:test: Integration Test
