Repository nervosnetwork/ckb, pull requests merged in 2025-01, with the labels that each got.

#4767 ckb-network-fuzz: make cargo clippy happy
  network/fuzz/Cargo.toml
  network/fuzz/fuzz_targets/fuzz_addr_manager.rs
  network/fuzz/fuzz_targets/fuzz_peer_store.rs
  network/fuzz/src/lib.rs
Labels: t:chore

#4783 Peer store optimization
  benches/benches/benchmarks/overall.rs
  chain/src/tests/util.rs
  network/src/network.rs
  network/src/peer_registry.rs
  network/src/peer_store/addr_manager.rs
  network/src/peer_store/peer_store_impl.rs
  network/src/peer_store/types.rs
  network/src/protocols/discovery/mod.rs
  network/src/protocols/feeler.rs
  network/src/protocols/identify/mod.rs
  network/src/services/outbound_peer.rs
  network/src/tests/mod.rs
  network/src/tests/peer_store.rs
  rpc/src/tests/setup.rs
  sync/src/relayer/tests/helper.rs
  test/src/net.rs
  util/launcher/src/lib.rs
  util/light-client-protocol-server/src/tests/utils/chain.rs
Labels: m:network

#4795 `NetRpcImpl::get_peers` return `Remoteaddress.addresses` dedup
  rpc/src/module/net.rs
Labels: b:rpc, m:network
